<.header>
  New Employees
  <:subtitle>Use this form to manage employees records in your database.</:subtitle>
</.header>

<.employees_form changeset={@changeset} action={~p"/employee"} />

<.back navigate={~p"/employee"}>Back to employee</.back>
